<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 th:text="${person1.name} + ' is ' + '\'' + ${person1.token} + '\''"/>
<h1 th:text="${person2.name} + ' is ' + '\'' + ${person2.token} + '\''"/>
<h1 th:text="${currentPerson.name} + '\'s turn' "/>
<table class="table">
  <thead class="thead-dark">
    <th scope="col">0</th>
    <th scope="col">1</th>
    <th scope="col">2</th>
    <th scope="col">3</th>
    <th scope="col">4</th>
    <th scope="col">5</th>
    <th scope="col">6</th>
    <th scope="col">7</th>
    <th scope="col">8</th>
  </thead>
  <tr th:each="i: ${board}">
    <td th:each="item: ${i}">
      <span th:text="${item}"></span >
    </td>
  <tr>
</table>


<form action="#" th:action="@{/droptoken}" th:object="${gameLogic}">
  Select column: <input type="text" name="column" th:field="*{column}"/><br/>
  <button name="submitColumn" type="submitToken" value="0">Drop piece</button>
</form>
</body>
</html>